.search-for-city {
  margin-bottom: 50px;
}
.weather-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  margin-top: 25px;
}
.weather-container {
  max-width: 600px;
  height: 875px;
}
.weather-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 1.7rem;
}
.weather-content img {
  width: 250px;
}
.weather-specifics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 2rem;
  margin-top: 15px;
}

.humidity,
.wind-speed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1rem;
}
.humidity-condition-image img,
.wind-condition-image img {
  width: 50px;
}
