.searh-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.searh-contents input {
  padding: 25px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 25px;
}
.searh-contents .input-border-clear {
  border: none;
  outline: none;
}
.searh-contents button {
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #fff;
  transition: 0.3s ease;
}
.searh-contents button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.searh-contents button img {
  width: 35px;
}
.searh-contents .input-border-red {
  border: 3px solid red;
}
